@model IEnumerable<AspnetCoreMvcFull.Models.Transactions>
@using Newtonsoft.Json

@{
  ViewData["Title"] = "Transactions - CRUD";
  ViewData["statusClass"] = "";
}

@section VendorStyles {
  <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
  <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
  <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
  <link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.css" />
  <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
}

@section VendorScripts {
  <script src="~/vendor/libs/moment/moment.js"></script>
  <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
  <script src="~/vendor/libs/sweetalert2/sweetalert2.js"></script>
  <script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
  <script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
  <script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
  <script src="~/vendor/libs/cleave-zen/cleave-zen.js"></script>
}

@section PageScripts {
  <script src="~/js/transactions-delete.js"></script>
  <script src="~/js/transactions-list.js"></script>
}

<!-- TransactionsToasts-->

@if (TempData.ContainsKey("TransactionsToast") && TempData.ContainsKey("DisplayToast") && (bool?)TempData["DisplayToast"] == true)
{
    var transactionsToastJson = TempData["TransactionsToast"] as string;
    if (!string.IsNullOrEmpty(transactionsToastJson))
    {
    var transactionsToast = JsonConvert.DeserializeObject<List<TransactionsToast>>(transactionsToastJson);

        // Check if transactionsToast is not null before proceeding
    if (transactionsToast?.Count > 0)
    {
    // Display the toast
    <div class="toast-container end-0 m-1 me-4">
      @foreach (var toast in transactionsToast)
      {
        <div class="toast @toast.CssClass" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="2000">
          <div class="toast-body text-center text-white">
            @toast.Message
          </div>
        </div>
      }
    </div>
     }
     }

    // Remove TempData flag to prevent displaying the toast on subsequent page reloads
    TempData.Remove("DisplayToast");

}

<!-- /TransactionsToasts -->

<div class="row g-6 mb-6">
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="me-1">
            <p class="text-heading mb-1">Session</p>
            <div class="d-flex align-items-center">
              <h4 class="mb-1 me-2">@ViewData["TotalTransactions"]</h4>
              <p class="text-success mb-1">(+29%)</p>
            </div>
            <small class="mb-0">Total Users</small>
          </div>
          <div class="avatar">
            <div class="avatar-initial bg-label-primary rounded">
              <div class="icon-base ri ri-group-line icon-26px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="me-1">
            <p class="text-heading mb-1">Paid Users</p>
            <div class="d-flex align-items-center">
              <h4 class="mb-1 me-2">$@ViewData["TotalPaidTransactions"]</h4>
              <p class="text-success mb-1">(+18%)</p>
            </div>
            <small class="mb-0">Last week analytics</small>
          </div>
          <div class="avatar">
            <div class="avatar-initial bg-label-danger rounded">
              <div class="icon-base ri ri-user-add-line icon-26px scaleX-n1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="me-1">
            <p class="text-heading mb-1">Active Users</p>
            <div class="d-flex align-items-center">
              <h4 class="mb-1 me-2">$@ViewData["TotalDueTransactions"]</h4>
              <p class="text-danger mb-1">(-14%)</p>
            </div>
            <small class="mb-0">Last week analytics</small>
          </div>
          <div class="avatar">
            <div class="avatar-initial bg-label-success rounded">
              <div class="icon-base ri ri-user-follow-line icon-26px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="me-1">
            <p class="text-heading mb-1">Pending Users</p>
            <div class="d-flex align-items-center">
              <h4 class="mb-1 me-2">$@ViewData["TotalCanceledTransactions"]</h4>
              <p class="text-success mb-1">(+42%)</p>
            </div>
            <small class="mb-0">Last week analytics</small>
          </div>
          <div class="avatar">
            <div class="avatar-initial bg-label-warning rounded">
              <div class="icon-base ri ri-user-search-line icon-26px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@* Transactions Table *@
<div class="card">
  <div class="card-datatable table-responsive pb-0">
    <table id="transactionsTable" class="table">
      <thead>
        <tr class="text-nowrap">
          <th></th>
          <th>@Html.DisplayNameFor(model => model.Id)</th>
          <th>
            @Html.DisplayNameFor(model => model.Customer)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.DueDate)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Total)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Status)
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (Model?.Any() == true){
          @foreach (var item in Model) {
           string statusClass = "info"; // Default value if item.Status is null or doesn't match any case

            if (!string.IsNullOrWhiteSpace(item.Status)) {
              string lowerCaseStatus = item.Status.ToLower();

              if (lowerCaseStatus == "paid") {
                statusClass = "success";
              } else if (lowerCaseStatus == "due") {
                statusClass = "warning";
              } else if (lowerCaseStatus == "canceled") {
                statusClass = "danger";
              }
            }

            <tr>
              <td></td>
              <td>
                @Html.DisplayFor(modelItem => item.Id)
              </td>
              <td class="text-nowrap fw-medium text-heading">
                @Html.DisplayFor(modelItem => item.Customer)
              </td>
              <td>
                @item.TransactionDate.ToString("dd MMMM, yy")
              </td>
              <td>
                @item.DueDate.ToString("dd MMMM, yy")
              </td>
              <td>
                $@item.Total
              </td>
              <td>
                <div class="badge bg-label-@statusClass rounded-pill">
                  @Html.DisplayFor(modelItem => item.Status)
                </div>
              </td>
              <td class="text-nowrap">
                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-text-secondary rounded-pill btn-icon shadow-none"><i class='icon-base ri ri-edit-line icon-18px'></i></a>
                <a href="/Transactions/Delete/@item.Id" class="btn btn-sm btn-text-secondary rounded-pill btn-icon shadow-none delete-transaction" data-transaction-username="@Html.DisplayFor(modelItem => item.Customer)"><i class="icon-base ri ri-delete-bin-5-line icon-18px"></i></a>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
